/**
 * ##### 110110011000011011011000101101011101100010110001001000001101100110000101110110011000011000100000110110001010011111011001100001001101100110000100110110011000011100100000110110011000100000100000110110011000000111011000101010101101100010101101001000001101100110000010110110001011000111011011100011001101100010101000
 *
 * @since 2016/04
 * @author Reiha Hosseini ( @mrReiha ) <iam@reiha.net>
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

@font-face {
    font-family: 'fontello';
    src: url( 'fonts/fontello.eot' );
    src: url( 'fonts/fontello.eot?#' ) format( 'embedded-opentype' ),
         url( 'fonts/fontello.woff' ) format( 'woff' ),
         url( 'fonts/fontello.ttf' ) format( 'truetype' ),
         url( 'fonts/fontello.svg?77150492#fontello' ) format( 'svg' );
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
}

html, body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 80px;
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

.right { float: right; }
.left { float: left; }

.cont {
    margin: auto;
    width: 960px;
}

.button {
    margin: 15px 0;
    border: 2px solid #5A2C81;
    padding: 15px 25px;
    font-size: 18px;
    color: #5A2C81;
}
.button:hover, .button:focus {
    box-shadow: 0 0 10px -3px rgba( 90, 44, 129, .75 ) inset;
}

.button.left + .button.left {
    margin-left: 10px;
}
.button.right + .button.right {
    margin-right: 10px;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    margin: 100px auto;
    color: #5A2C81;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    font-weight: 100;
    font-size: 60px;
}

li {
    list-style: none;
}

li a {
    position: relative;
    display: block;
    padding-left: 65px;
}

.project {
    background: #fff;
    box-shadow: 0 1px 2px rgba( 0, 0, 0, .4 );
    padding: 20px;
    font-size: 18px;
    color: #555;
    margin: 5px 0;
    display: block;
    position: relative;
    overflow: hidden;
    text-shadow: 0 1px 0 #fff;
}

.project.full {
    position: absolute;
    margin: 0;
    -webkit-transform: translateZ( 0 );
    -moz-transform: translateZ( 0 );
    -ms-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: 1s;
    transition: 1s;
}
.project.full.ready-to-close {
    -webkit-transition: .5s;
    transition: .5s;
}

.project.full .close {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 35px;
    -webkit-transition: .4s;
    transition: .4s;
}
.project.full .close:hover, .project.full .close:focus {
    -webkit-transform: scale( 1.2 );
    -moz-transform: scale( 1.2 );
    -ms-transform: scale( 1.2 );
    transform: scale( 1.2 );
}
.project.full .close:before {
    content: '';
    font-family: "fontello";
    font-size: 28px;
}

    .project.full > * {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY( -25px );
        -moz-transform: translateY( -25px );
        -ms-transform: translateY( -25px );
        transform: translateY( -25px );
        -webkit-transition: .4s;
        transition: .4s;
    }
    .project.full.show > * {
        opacity: 1;
        visibility: visible;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }

li a .project:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30%;
    left: 50%;
    background: #5A2C81;
    background: linear-gradient( to left , #5A2C81, #fff, #5A2C81 );
    -webkit-transform: scaleX( 1 ) skewX( 15deg );
    -moz-transform: scaleX( 1 ) skewX( 15deg );
    -ms-transform: scaleX( 1 ) skewX( 15deg );
    transform: scaleX( 1 ) skewX( 15deg );
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .25s;
    transition: .25s;
}

li a:before {
    content: '';
    position: absolute;
    font-family: "fontello";
    font-size: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    text-shadow: 0 1px 0 #fff;
    color: #777;
    padding: 20px;
    line-height: 25px;
    transition: .4s;
}

li a:hover:before, li a:focus:before {
    -webkit-transform: scale( 1.4 ) translateZ( 0 );
    -moz-transform: scale( 1.4 ) translateZ( 0 );
    -ms-transform: scale( 1.4 ) translateZ( 0 );
    transform: scale( 1.4 ) translateZ( 0 );
}
li a:hover .project:after, li a:focus .project:after {
    opacity: .13;
    -webkit-transform: scaleX( 7 ) skewX( 15deg );
    -moz-transform: scaleX( 7 ) skewX( 15deg );
    -ms-transform: scaleX( 7 ) skewX( 15deg );
    transform: scaleX( 7 ) skewX( 15deg );
    visibility: visible;
    -webkit-transition: .4s;
    transition: .4s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    background: #fff;
    color: #777;
}

footer nav a + a:before {
    content: '-';
    padding: 0 20px;
    color: #999;
}

footer nav a:hover, footer nav a:focus {
    color: #222;
}

footer nav a img {
    vertical-align: middle;
}

footer nav a + a.right:before {
    content: '';
    display: none;
}

@media all and ( max-width: 980px ) {

    .cont {
        width: 100%;
        padding: 0 40px;
    }

}

@media all and ( max-width: 600px ) {

    li a:before {
        display: none;
    }

    li a {
        padding-left: 0;
    }

    li a:hover .project:after, li a:focus .project:after {
        -webkit-transform: scaleX( 10 ) skewX( 15deg );
        -moz-transform: scaleX( 10 ) skewX( 15deg );
        -ms-transform: scaleX( 10 ) skewX( 15deg );
        transform: scaleX( 10 ) skewX( 15deg );
    }

}

@media all and ( max-width: 500px ) {

    body {
        padding-bottom: 100px;
    }

}
